/*importing in main.css*/

@import 'main.css';



/*ASIDE FOR FEEDBACK (specific ot landing)*/

aside{
	width: 5%;
	float: left;
	/*Will become (100%)*/
	height: 2100px;
	padding-top: 105px;
	margin: 0;
}

/*MAIN BODY*/

main{
	width: 95%;
	float: left;
	/*Will become (100%)*/
	height: 2100px;
	margin: 0;
	padding-top: 75px;
}

article{
	width: 100%;
	padding: 20px;
}

/*CALL TO ACTION ARTICLE*/

article.callToAction {
	height: 310px;
	padding: 40px 20px 20px 20px;
}

article.callToAction section{
	width: 85%;
	height: 100%;
	margin:0 20px;
	float: left;
}

article.callToAction h1{
	margin: 55px 0 10px 0; 
}

article.callToACtion p{
	font-size: 16pt;
}

/*METHOD ARTICLE*/

article.method{
	height: 870px;
}

article.method section{
	width: 100%;
	height: 50%;
	padding: 20px; 	
}

article.method figure{
	display: inline-block;
	width:390px;
	height:360px;
	margin: 0;

}

article.method figcaption{
	display: inline-block;
	width:40%;
	height:300px;
	margin: 20px 1% 20px 0; 
	float: right;
	min-width: 255px;
}
#mSec2 figure{
	float: right;
	margin: 0 5% 0 0;
}

#mSec2 figcaption{
	float: left;
	margin: 20px 1% 20px 0; 
}

#mSec2 img{
	position: relative;
	right:30px;
}

/*STEPS SECTION*/

article.whyWhoWhat{
	height: 900px;
	padding: 20px 40px;

}

article.whyWhoWhat section{
	position: relative;
	width: 330px;
	height: 390px;
	margin: 0;
	float: left;
}

article.whyWhoWhat figure{
	position: absolute;
	height: 300px;
	width: 300px;
	margin: 0;
}

article.whyWhoWhat figcaption{
	width: 240px;
	height: 180px;
	position: absolute;
	top: 110px;
	right: 0;
}

#who{
	float: right;
	margin: 20px 5% 20px 0 ;
}

#who figure{
	position: absolute;
	right:0;
}

#who img{
	position: relative;
	right:90px;
}

#who figcaption{
	right:180px;
}

#who h3{
	text-align: right;
	padding-right: 10px;

}

#what{
	margin: 20px 0 20px 27%;
	/*A MAPPING JAVA FUNCITON IS GOING TO BE NEED TO KEEP THIS CENTERED*/
}

#what figure{
	position: absolute;
	left: 75px;
	top: 25px;
}

#what img{
	position: relative;
	right:30px;
}

#what figcaption{
	position: relative;
	left: 30px;
	top: 180px;

}

#what h2{
	padding-top: 25px;
}

#what p{
	padding-top: 10px;
}

/*SMALL DEVICES */
@media only screen and (max-width: 790px){
	
	aside{
		width: 0;
		height: 0;
		margin: 0;
		padding: 0;
	}
	html, main{
		width: 100%;
		height: 4000px
	}
	p{
		font-size: 16pt;
	}

	article.callToAction {
		height: 385px;
		padding: 20px;
	}

	article.callToAction section{
		width: 95%;
		float: left;
	}
	article.callToAction h1{
		margin: 20px 0 10px 0; 
	}

	article.callToACtion section p{
		margin-left: 0px;
	}

	article.method{
		height: 1500px;
	}

	article.method section{
		height: 720px;
	}

	article.method figure{
		display: inline-block;
		width:375px;
		height:360px;
		margin: 0;

	}

	article.method figcaption{
		display: inline-block;
		width:90%;
		height:220px;
		margin: 20px 0 20px 0; 
		float: right;
	}

	#mSec2 figure{
		float: center;
		margin: 0;
	}

	article.whyWhoWhat{
	height: 700px;
	padding: 10px 20px;

	}

	article.whyWhoWhat section{
		position: relative;
		width: 90%;
		height: 500px;
		margin: 20px 0 20px 5%;
		float: left;
	}

	article.whyWhoWhat figure{
		height: 350px;
		width: 350px;
		margin: 0;
	}

	article.whyWhoWhat figcaption{
		width: 260px;
		height: 380px;
		position: absolute;
		top: 110px;
		right: 0;
	}

	#who{
		float: right;
	}

	#who figure{
		float: right;
	}

	#who img{
		position: relative;
		right:30px;
		bottom: 10px;
	}

	#who figcaption{
		position: absolute;
		left: 0;
		bottom:30px;
		width: 260px;
	}

	#who h3{
		text-align: right;
		padding-right: 10px;

	}

	#what{
		margin: 20px 0 20px 32%;
		/*A MAPPING JAVA FUNCITON IS GOING TO BE NEED TO KEEP THIS CENTERED*/
	}
	#what{
		right: 40%;
	}

	#what figcaption{
		margin-top: 70px;
		height: 280px;
		float: right;
		left: 50px;
	}

}



